@tailwind base;
@tailwind components;
@tailwind utilities;

.templateContainer {
  @apply container mx-auto px-4 md:px-8 lg:px-12;
}

.hover-class {
  position: relative;
}

.hover-class::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #35797b;
  transition: width 0.3s ease, left 0.3s ease;
}

.hover-class:hover::after {
  left: 0;
  width: 100%;
}
