@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#services,
#portfolio,
#about {
  scroll-margin-top: 50px;
}

body {
  overflow-x: hidden;
}

.templateContainer {
  @apply container mx-auto px-4 md:px-8 lg:px-12;
}

.hover-class {
  position: relative;
}

.hover-class::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #35797b;
  transition: width 0.3s ease, left 0.3s ease;
}

.hover-class:hover::after {
  left: 0;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bouncing {
  animation: bounce 2s infinite; /* Duration: 2s, repeats infinitely */
}

@keyframes bounce {
  0% {
    transform: translateY(0); /* Start and return to the original position */
  }
  50% {
    transform: translateY(-20px); /* Move upward */
  }
  100% {
    transform: translateY(0px); /* A smaller bounce upward */
  }
}
